<div class="jumbotron">
  <h1 class="display-4">Task Manager</h1>
  <p class="lead">Control your affairs, conveniently!</p>
  <hr class="my-4">
  <p>To use this app, please Sign Up or Log in</p>
  <br/><br/>
</div>