<div class="card">
  <div class="card-header">
    <h4>Edit Deal</h4>
  </div>
  <div class="card-body">
    <%= render 'form', deal: @deal %>
    <% link_to 'Show', @deal %>
    <br/>
    <%= link_to 'Delete', @deal, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-outline-danger btn-sm' %>
    <%= link_to 'List', deals_path, class:"btn btn-outline-dark btn-sm" %>
  </div>
</div>

