<div class="card">
  <div class="card-header">
    <h4>New Deal</h4>
  </div>
  <div class="card-body">
    <%= render 'form', deal: @deal %>
    <br/>
    <%= link_to 'List', deals_path, class:"btn btn-outline-dark btn-sm" %>
  </div>
</div>



